@import url("https://cdn.jsdelivr.net/gh/sunn-us/SUIT/fonts/variable/woff2/SUIT-Variable.css");

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'SUIT', sans-serif;
  color: #111;
}

button {
  font-family: inherit;
}

.app {
  width: 100%;
  min-height: 100vh;
  background: #fff;
}

/* Header */
.header {
  width: 100%;
  height: 60px;
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  padding: 0 50px;
  box-sizing: border-box;
  border-bottom: 1px solid #111;
}

/* PC + 태블릿 + 모바일 공통 메인 영상*/
.home {
  width: 100%;
  height: calc(100vh - 60px);
  overflow: hidden;
}
.main-video {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* 왼쪽 */
.header-left {
  display: flex;
  align-items: center;
  gap: 20px;
  justify-self: start;
}

/* 햄버거 */
.menu-button {
  border: none;
  background: none;
  padding: 0;
  cursor: pointer;
  font-size: 24px;
  font-weight: 400;
  line-height: 1;
}

/* 메뉴 */
.header-menu {
  display: block;
}

.header-menu a {
  text-decoration: none;
  color: #000;
  font-size: 17px;
  font-weight: 600;
}

/* 로고 */
.logo {
  width: 200px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-self: center;
  line-height: 0;
}

.logo img {
  width: 200px;
  height: auto;
  display: block;
  transform: translateY(5px);
}


/* 오른쪽 */
.header-right {
  display: flex;
  align-items: center;
  gap: 20px;
  justify-self: end;
}


/* 데스크톱 좋아요 / 장바구니 */
.desktop-text {
  display: block;
  color: #000;
  font-size: 17px;
  font-weight: 600;
}


/* 로그인 */
.login-button {
  border: none;
  background: none;
  padding: 0;
  cursor: pointer;
}

.login-button img {
  width: 24px;
  height: 24px;
  object-fit: contain;
}


/* 태블릿 좋아요 / 장바구니 이미지 */
.tablet-icon {
  display: none;
  border: none;
  background: none;
  padding: 0;
  cursor: pointer;
}

.tablet-icon img {
  width: 22px;
  height: 22px;
  object-fit: contain;
}

/* 푸터 */
.footer {
  width: 100%;
  min-height: 140px;

  display: grid;
  grid-template-columns: 220px 1fr 360px;
  align-items: center;

  gap: 40px;

  padding: 24px 50px;

  background: #d9d9d9;
}

.footer-logo {
  height: 100%;

  display: flex;
  align-items: center;

  padding-right: 40px;

  border-right: 1px solid #888;
}

.footer-logo strong {
  font-family: Georgia, serif;
  font-size: 40px;
  font-weight: 400;
}

.footer-center {
  display: flex;
  flex-direction: column;

  gap: 24px;
}

.footer-menu {
  display: flex;
  justify-content: space-between;

  gap: 24px;
}

.footer-menu a {
  color: #111;

  text-decoration: none;

  font-size: 15px;
  font-weight: 600;
}

.footer-info p {
  margin: 4px 0;

  font-size: 14px;
}

.footer-right {
  text-align: right;
}

.footer-right p {
  margin: 0 0 18px;

  font-size: 17px;
  font-weight: 600;
}

.footer-right span {
  font-size: 14px;
}

@media (max-width: 1024px) {

  .header {
    padding: 0 30px;
  }

  .header-left {
    gap: 15px;
  }

  /* 글자 숨기기 */
  .desktop-text {
    display: none;
  }

  /* 좋아요 / 장바구니 이미지 표시 */
  .tablet-icon {
    display: block;
  }

  .header-right {
    gap: 15px;
  }

  .tablet-icon img,
  .login-button img {
    width: 22px;
    height: 22px;
  }

  /* 태블릿 로고 */
  /* .logo img { */
    /* width: 160px; */
  /* } */
}

@media (max-width: 768px) {

  .header {
    padding: 0 20px;
  }

  /* 메뉴 글씨 숨김 */
  .header-menu {
    display: none;
  }

  /* 좋아요 / 장바구니 숨김 */
  .tablet-icon {
    display: none;
  }

  /* 햄버거 */
  .menu-button img {
    width: 22px;
    height: 22px;
  }

  /* 로그인 */
  .login-button img {
    width: 20px;
    height: 20px;
  }
}

/* 모바일만 추가 조정 메인 영상*/
@media (max-width: 768px) {
  .main-video {
    object-position: center;
  }
}